.THIS .uiButton.slds-button_success{
    
    padding: 5px 48px;
    font-size: 15px;
    
}

.THIS .uiButton.slds-button_brand{
    
    padding: 5px 35px; 
    font-size: 15px;
    
}

.THIS .uiButton.slds-button_destructive{
    
    padding: 5px 50px; 
    font-size: 15px;
    
}

@media (min-width: 1024px){
    
    .THIS.slds-modal__header{
        margin: 0 -30px 0 -30px;
    }
    
    .THIS.slds-modal__footer{
        margin: 8px -30px -30px -30px;
    }
    
}